{% extends 'app/base2.html' %}

{% block content %}
    <div class="row">
        <div class="form-group col-md-12">
            <h2>Orientações de Matrícula</h2>
        </div>
    </div>
    <hr>
    <div class="row table-responsive">
        <table class="table table-borderless table-hover">
            <thead class="thead-light">
              <th scope="col">Discente</th>
              <th scope="col">Matrícula</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>              
            </thead>
            <tbody>
              {% for ori in orientacoes %}
              {% ifequal ori.status "S" %}
                <tr style="color:green;">
              {% else %}
                <tr>
              {% endifequal %}
                  <td>{{ ori.discente.nome }}</td>
                  <td>{{ ori.discente.matricula }}</td>
                  
                  <!-- buttons -->
                  <td><a href="{% url 'orientacao_matricula_export' pk=ori.pk %}">Exportar PDF</a></td>
                  <td><a href="{% url 'orientacao_matricula_edit' pk=ori.pk %}">Editar</a></td>     
                  <td><a href="{% url 'orientacao_matricula_remove' pk=ori.pk %}">Excluir</a></td>               
                </tr>
              {% endfor %}        
            </tbody>
        </table>
    </div> 

    <div class="row add-table">
      {% ifequal user.groups.all.0.name "Tutor" %}
        <a href="{% url 'orientacao_matricula_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Adicionar Orientação de Matrícula</span></a>
      {% endifequal %}
    </div> 
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
