{% extends 'app/base.html' %}


{% block content %}

{% load crispy_forms_tags %}          

  <!--Reset Password-->
  <div class="container p-5">
      <h2 class="font-weight-bold mt-3">Reiniciar Senha</h2>
    <hr>
    <p>Esqueceu sua senha? Entre com seu endereço de e-mail abaixo. Você receberá uma mensagem com instruções para reiniciar sua senha.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div> 

{% endblock %}