<html>
<head>
  <title>Acompanhamento do discente</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <h2>Instituto Federal de Educação, Ciência e Tecnologia Baiano - Campus Serrinha</h2>
  <h2>Tutoria - Acompanhamento do Discente</h2>
    <div>Nome: {{ tut.discente.nome }}</div><br>
    {% if tut.discente.nome_social %}
      <div>Nome Social: {{ tut.discente.nome_social }}</div><br>
    {% endif %}
    <div>Matrícula(SIGA): {{ tut.discente.matricula }}</div><br>
    <div>Tutor: {{ tut.docente }}</div>
    <br><br>
    <h4>Disciplinas já cursadas</h4>
    <div>{{ tut.disciplinas_cursadas }}</div>
    <br><br>
    <h4>Você conhece legislações e documentos referentes ao seu curso e ao IF Baiano? Quais?</h4>
    <div>{{ tut.legislacoes_ifbaiano }}</div>

    <h4>Quais disciplinas do semestre atual que você está tendo maior dificuldade? Porque?</h4>
    <div>{{ tut.dificuldades_semestre_atual }}</div>  
    
    <h4>Quais ações você acha que poderiam ajudar nessas disciplinas?</h4>
    <div>{{ tut.acoes }}</div>

    <h4>Sugestão(ões) do(a) Tutor(a) para melhorar o rendimento nas disciplinas com dificuldade:</h4>
    <div>{{ tut.sugestoes_dif_semestre }}</div>

    <h4>Qual(is) outra(as) dificuldades você tem enfrentado durante o curso?</h4>
    <div>{{ tut.dificuldades_curso }}</div>

    <h4>Sugestão(ões) do(a) Tutor(a) para o enfrentamento dessas dificuldades:</h4>
    <div>{{ tut.sugestoes_dif_curso }}</div>

    <h4>Outras observações do(a) Tutor(a):</h4>
    <div>{{ tut.observacoes }}</div>

    <br>Status da Tutoria: {{ tut.status }}
    <br><br>

    <h4>Estágios Extracurriculares</h4>
    {% for est in eecs %}
      <div>{{ est.descricao }} | {{ est.carga_horaria }} horas | de {{ est.data_inicio }} até {{ est.data_fim }}</div>
    {% endfor %}

    <h4>Atividades Extracurriculares</h4>
    {% for ac in acs %}
      <div>{{ ac.descricao }} | {{ ac.carga_horaria }} horas</div>
    {% endfor %}

    <h4>Atividades Complementares</h4>
    {% for aec in aecs %}
      <div>{{ aec.descricao }} | tipo: {{ aec.tipo }} | bolsista {{ aec.bolsista }}</div>
    {% endfor %}

</body>
</html>