<html>
<head>
  <title>Test</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <h2>Instituto Federal de Educação, Ciência e Tecnologia Baiano - Campus Serrinha</h2>
  <h2>Orientação de Matrícula</h2>
    <div>Nome: {{ om.discente.nome }}</div><br>
    {% if om.discente.nome_social %}
      <div>Nome Social: {{ om.discente.nome_social }}</div><br>
    {% endif %}
    <div>Matrícula(SIGA): {{ om.discente.matricula }}</div><br>
    <div>Tutor: {{ om.docente }}</div>
    <br><br>
  <h3>Disciplinas</h3>

</body>
</html>