{% extends 'app/base2.html' %}

{% block content %}
    <div class="row">
        <div class="form-group col-md-12">
            <h2><a href="{% url 'tutorias_list' %}">Tutorias</a> >> {{ tutoria.discente }}: Atividades Extracurriculares</h2>
        </div>
    </div>
    <hr>
    <div class="row table-responsive">
        <table class="table table-borderless table-hover">
            <thead class="thead-light">
              <th scope="col">Descriçao da Atividade</th>
              <th scope="col">Tipo</th>
              <th scope="col">Bolsista</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </thead>
            <tbody>
              {% for aec in aecs %}
              <tr>
                <td>{{ aec.descricao }}</td>
                <td>{{ aec.tipo }}</td>
                {% if aec.bolsista %}
                <td>Sim</td>
                {% else %}
                <td>Não</td>
                {% endif %}

                <td><a href="{% url 'tutoria_atividade_extracurricular_edit' pk=tutoria.id pk_1=aec.pk %}">Editar</a></td>
                <td><a href="{% url 'tutoria_atividade_extracurricular_remove' pk=tutoria.id pk_1=aec.pk %}">Excluir</a></td>
              </tr>
              {% endfor %}        
            </tbody>
        </table>
    </div>  

    <div class="row add-table">
      <a href="{% url 'tutoria_atividade_extracurricular_new' pk=tutoria.id %}" class="top-menu"><span class="glyphicon glyphicon-plus">Adicionar Atividade</span></a>
    </div> 
{% endblock %}